<head>
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script 
        src="https://code.jquery.com/jquery-3.3.1.min.js"   
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   
        crossorigin="anonymous">
    </script>
</head>
<body>
    <header>
        <h1>LeetCode<span>list</span></h1>
        <h2>A simple LeetCode list app recording done and to-do leetcode problem every week</h2>
    </header>
     <div class="btnArea">
         <div class="button" id ="Hard">Hard</div>
         <div class="button" id ="Medium">Medium</div>
         <div class="button" id ="Easy">Easy</div>
         <div class="button" id ="Random">Random</div>
     </div>
    <section class="form">
        <input type="text" id="todoInput" placeholder="Insert a problem here...">
    </section>

    <ul class="list">
    </ul>

<script type="text/javascript" src="app.js"></script>
</body>